<!-- webapp/WEB-INF/web.xml -->
<web-app id="bubu" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee"
         version="3.5">

    <!--<display-name>Webapplication</display-name>-->

    <!--<welcome-file-list>-->
        <!--<welcome-file>login</welcome-file>-->
    <!--</welcome-file-list>-->

    <!-- Below can be configured using implementation of WebApplicationInitializer interface
    Container is lookig for such class  and if found - uses it to configure the SpringContext -->

  <!--  <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class> &lt;!&ndash; front controller &ndash;&gt;
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>

        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/webapp-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->



</web-app>

